# Folder raksasa & Dependencies
node_modules/
vendor/
.next/
out/
dist/
bin/

# File Sensitif & Rahasia
.env
.env.*
*.pem
*.key
*cert
.ssh/

# File Binari & Hasil Build
*.exe
*.dll
*.so
*.o
aegis-backend.exe
docker-compose.yml

# Database & Logs
*.log
*.db
*.sqlite
data/

# OS & Editor
.DS_Store
.vscode/
.idea/
Thumbs.db

.gitignore